[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:rngantner/snipmate.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-lucius"]
	path = bundle/vim-lucius
	url = https://github.com/vim-scripts/Lucius.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
